<div class="mt-4">
    <h3>Create Post</h3>

    <form action="/post/add" method="post">
        <div class="form-group"> 
          <label for="name">Name Course</label>
          <input type="text" class="form-control" id="title"  placeholder="Enter Title Post Blog" name="title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"  placeholder="Enter Description Post Blog" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>